@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round:wght@400;500;600;700&family=Kalam&display=swap');

/* ------------ Default CSS ------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;

  margin: 0;
}

main {
  margin: 0 1.5rem;
}

article {
  padding: 2rem;
  font-family: 'Roboto Slab', serif;

  font-size: 1.8rem;
  line-height: 1.7; /* 1.7 times font-size */
  letter-spacing: 0.02em;
  word-spacing: 0.11em;
}

footer {
  margin: 0;
  padding: 1.2rem;
  text-align: center;
}

nav ul {
  list-style-type: none;
}

nav ul li a {
  font-family: 'Varela Round', sans-serif;
  font-weight: 600;
  font-size: 1.7rem;
}

.material-icons {
  margin: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Varela Round', sans-serif;
}

a {
  text-decoration-line: none;
}

/* ------ CSS for this page ---------- */

.container {
  transform-origin: top left;
  transition: transform 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.container.show-nav {
  transform: rotate(-20deg);
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}

.circle button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 36px;
}

.circle button:focus {
  outline: none;
}

button#open {
  left: 60%;
}

button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.content img {
  max-width: 100%;
}

.content {
  max-width: 1000px;
  margin: 50px auto;
}

h1 {
  margin: 0;
}

.content small {
  color: hsl(0, 0%, 40%);
  font-style: italic;
}
