/* Import fonts here */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* :root {
  
} */

body {
  font-family: 'Roboto', sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;

}

div {
  width: 50vw;
  height: 8vh;
  font-size: 2rem;
  margin: 1rem 0;

  border-radius: 1rem;

  padding: 0.4rem;
  text-align: center;
}

section:first-of-type div:nth-of-type(1) {
  background-color: hsl(197.3,37.2%,23.7%);
}

section:first-of-type div:nth-of-type(2) {
  background-color: hsl(172.7,57.8%,39%);
}

section:first-of-type div:nth-of-type(3) {
  background-color: hsl(12,75.8%,61.2%);
}

section:first-of-type div:nth-of-type(4) {
  background-color: hsl(197.3,37.2%,23.7%);
}

section:last-of-type div:nth-of-type(1) {
  background-color: hsl(42,74.3%,66.5%);
}

section:last-of-type div:nth-of-type(2) {
  background-color: hsl(26,87%,66.9%);
}

section:last-of-type div:nth-of-type(3) {
  background-color: hsl(172.7,57.8%,39%);
}

section:last-of-type div:nth-of-type(4) {
  background-color: hsl(12,75.8%,61.2%);
}